<nav class="nav">
    <div class="container">
        <ul class="nav-list">
            <li>
                <a href="/">strona główna</a>
            </li>
            <li>
                <a href="/about">o projekcie</a>
            </li>
        </ul>
    </div>
</nav>