<nav class="nav">
    <div class="container">
        <ul class="nav-list">
            <li>
                <a href="/" class="btn btn-nav">home</a>
            </li>
            <li>
                <a href="/about" class="btn btn-nav">about</a>
            </li>
        </ul>
    </div>
</nav>

<style lang="scss">
    .nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        padding: 16px 0;

        &-list{
            list-style: none;

            display: flex;
            justify-content: space-between;
        }
    }
</style>