---
import planetsJSON from '../data/planets.json';
import Planet from '../single/Planet.astro';
---

<section id="planets" class="planets">
    {
        planetsJSON.map(e => {
            return <Planet data={e}/>
        })
    }
</section>