---

---

<header class="header">
    <div class="container">
        <h1>planetarium</h1>
    </div>

    <button class="header-more">odkryj kosmos</button>
</header>

<style lang="scss">
    
</style>