---
import Nav from '../components/Nav.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Geologica:wght@200;400&display=swap" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js' integrity='sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A==' crossorigin='anonymous'></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
    <Nav/>
    <!-- CONTENT: START -->
    <main>
        <slot />
    </main>
    <!-- CONTENT: END -->
</body>
</html>

<style lang="scss" is:global>
    :root{
        --c_white: #FFFFFF;
        --c_black: #000000;

        --c_primary: #00bca2;
        --c_secondary: #151c27;
        --c_secondary-dark: #0f141b;

        --font_main: 'Geologica', sans-serif;
        --font_heading: 'Bruno Ace', cursive;

        --step--1: clamp(0.83rem, calc(0.77rem + 0.30vw), 1.00rem);
        --step-0: clamp(1.00rem, calc(0.91rem + 0.45vw), 1.25rem);
        --step-1: clamp(1.20rem, calc(1.07rem + 0.66vw), 1.56rem);
        --step-2: clamp(1.44rem, calc(1.25rem + 0.93vw), 1.95rem);
        --step-3: clamp(1.73rem, calc(1.47rem + 1.30vw), 2.44rem);
        --step-4: clamp(2.07rem, calc(1.72rem + 1.78vw), 3.05rem);
        --step-5: clamp(2.49rem, calc(2.01rem + 2.41vw), 3.82rem);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body{
        height: 100%;
    }

    body{
        font-size: var(--step-0);
        font-family: var(--font_main);
        font-weight: 300;
        line-height: 1.4;
        color: var(--c_white);
        background-color: var(--c_secondary);
        overflow-y: scroll;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6{
        font-family: var(--font_heading);
        line-height: 1.6;
    }

    h1, .h1{ font-size: var(--step-5); }
    h2, .h2{ font-size: var(--step-4); }
    h3, .h3{ font-size: var(--step-3); }
    h4, .h4{ font-size: var(--step-2); }
    h5, .h5{ font-size: var(--step-1); }
    h6, .h6, p{ font-size: var(--step-0); }
    small, .text-small{ font-size: var(--step--1); }

    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .btn{
        text-decoration: none;
        color: var(--c_white);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;

        &-nav{
            font-family: var(--font_heading);
            font-size: var(--step--1);
            padding: 0.75rem;
            opacity: 0.5;
            transition: opacity 0.4s ease-in-out;

            &:hover, &:focus{
                color: var(--c_primary);
                opacity: 1;
            }
        }
    }
</style>

<script>
particlesJS("particles", {
    "particles": {
        "number": {
            "value": 255,
            "density": {
                "enable": true,
                "value_area": 255
            }
        },
        "color": {
            "value": "#ffffff"
        },
        "shape": {
            "type": "circle",
            "stroke": {
                "width": 0,
                "color": "#000000"
            },
            "polygon": {
                "nb_sides": 5
            },
            "image": {
                "src": "img/github.svg",
                "width": 100,
                "height": 100
            }
        },
        "opacity": {
            "value": 0.48927153781200905,
            "random": false,
            "anim": {
                "enable": true,
                "speed": 0.2,
                "opacity_min": 0,
                "sync": false
            }
        },
        "size": {
            "value": 2,
            "random": true,
            "anim": {
                "enable": true,
                "speed": 2,
                "size_min": 0,
                "sync": false
            }
        },
        "line_linked": {
            "enable": false,
            "distance": 150,
            "color": "#ffffff",
            "opacity": 0.4,
            "width": 1
        },
        "move": {
            "enable": true,
            "speed": 0.2,
            "direction": "none",
            "random": true,
            "straight": false,
            "out_mode": "out",
            "bounce": false,
            "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 1200
            }
        }
    },
    "interactivity": {
        "detect_on": "canvas",
        "events": {
            "onhover": {
                "enable": true,
                "mode": "bubble"
            },
            "onclick": {
                "enable": true,
                "mode": "push"
            },
            "resize": true
        },
        "modes": {
            "grab": {
                "distance": 400,
                "line_linked": {
                    "opacity": 1
                }
            },
            "bubble": {
                "distance": 83.91608391608392,
                "size": 1,
                "duration": 3,
                "opacity": 1,
                "speed": 3
            },
            "repulse": {
                "distance": 200,
                "duration": 0.4
            },
            "push": {
                "particles_nb": 4
            },
            "remove": {
                "particles_nb": 2
            }
        }
    },
    "retina_detect": true
});
</script>